{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".ts"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*.spec.ts"
  ],
  "report-dir": "./coverage",
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary",
    "lcov"
  ],
  "all": true,
  "instrument": true
}